body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #1b5e20;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
}

nav a {
  color: white;
  font-size: 1.1em;
}

nav a:hover {
  color: #81c784;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #1b5e20;
}

h3 {
  text-align: justify;
  font-size: 1.5em;
  color: #2e7d32;
}

figure {
  background-color: white;
}

figcaption {
  font-size: 0.95em;
  color: #2e7d32;
  text-align: center;
  font-size: 50;
}

p {
  font-size: 1em;
  text-align: justify;
}

ol li {
  background-color: #e8f5e9;
}

ul li {
  background-color: #e8f5e9;
  text-align: justify;
  width: 40%;
}

aside {
  background-color: #e8f5e9;
}

aside h3 {
  color: #1b5e20;
}

aside p {
  text-align: left;
}

hr {
  background-color: #1b5e20;
}

footer {
  background-color: #1b5e20;
  color: white;
  text-align: center;
}

footer p {
  text-align: center;
}
.fasilitas{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.fasilitas figure{
    width: 220px;
    text-align: center;
}

.fasilitas img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.fasilitas figcaption{
    margin-top: 8px;
    font-weight: bold;
}